<%- include('./header.ejs') %>

<div class="mt-5 container">
    <div class=" d-flex align-items-center justify-content-center tabl">
        <div class="bg-white col-md-6">
            <h3 class="text-primary text-center">About us </h3>
            <p class="lead text-center" style="text-align: justify;">Student Admission Portal is an online platform that serves as a medium for applying into various courses, tracking the application status, submitting queries, etc. The platform is integrated with a payment gateway that cherishes the ease of depositing payments.   

                Additionally, the portal supports a chatbot through which students can quickly resolve their queries in real-time. For instance, if there is an issue regarding payment, applicants can fill in their questions and get their answers. </p>
        
        </div>
    </div>
</div>
</div>


<%- include('./footer.ejs') %>